* {
	-webkit-box-sizing: border-box;
  	-moz-box-sizing: border-box;
  	box-sizing: border-box;
}

html {   
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display:table;
}

body {
    display:table-cell;
    vertical-align:middle;
}

.container {
	display:table;
	color:#2d2d2d;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	margin-bottom:auto;
	text-align:center;
	width:300px;
}

.first {
	margin-top:0;
}

.formBox {
	margin-bottom:12px !important;
}

.spaceTop {
	margin-top:48px;
}

.spaceTop2 {
	margin-top:12px;
}

.formInput {
	width:300px;
	height:24px;
	font-size:0.8em;
	background:none;
	border:none;
	border-radius:0;
	border-bottom:1px solid #000;
	-webkit-appearance:none;
	-moz-appearance:none;
}

.overlayBtn {
	display: inline-block;
	background:rgb(46, 46, 47);
	color:#fff;
	font-size:10px;
	padding: 5px 25px 5px 25px;
	border:none;
	font-weight:200;
	text-decoration:none;
	margin-top:5%;
	width:300px;
}

.overlayBtn:hover{
	cursor: pointer;
}

.overlayBtn:active {
    background: rgba(46, 46, 47, 0.5);
}

.miniscule {
	font-size:0.8em;
}

.lefty {
	text-align: left;
	margin-left:0;
}

.errorMessage {
	display: none;
	text-align: left;
	color: red;
}

.score {
	display: none;
}

.link {
	display: none;	
}

.link a{
	text-decoration:none;
	font-weight: bold;
}

.link a:hover{
	cursor: pointer;
}