body{
  background-color: #f7f7f7;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

table tr:nth-child(even){background-color: #9E9E9E;}

table tr:nth-child(odd){background-color: #F5F5F5;}

table tr:hover {background-color: #E0E0E0;}

table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #424242;
    color: white;
}

header {
    border-top: 8px solid rgb(46, 46, 47);
    border-bottom: 2px solid rgba(46, 46, 47, 0.7);
    box-shadow: 2px 0 4px #BCBCBC;
    margin-bottom: 64px;
    background: #fff;
    min-width: 900px;
}

.subtitle {
  text-align: center;
  margin-bottom: 60px;
}

#identifier {
  font-style: italic;
}

#date1, #date2{
  font-style: italic;
}

#chart{
  margin-right: auto;
    margin-left: auto;
}

#content{ 
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  margin: 60px auto 60px auto;
  width: 70%;
    padding: 88px 88px 88px 88px;
    min-width: 900px;
}

.title{
  padding-top: 20px;
  padding-bottom: 20px;
  width: 70%;
  margin: 0 auto;
}

i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up:hover,.down:hover{
  cursor: pointer;
}

.tweets{
  text-align: center;
}

.lower {
  color: red;
}

.higher {
  color: green;
}

#tweet {
    width: 400px !important;
    z-index: 10;
    position: absolute;
    display: none;
  }

#tweet iframe {
  border: none !important;
  box-shadow: none !important;
}

@media screen and (max-width: 1485px) {
  #content {
    width: 70%;
    padding: 88px 0px 88px 0px;
  }
}

@media screen and (max-width: 1300px) {
  #content {
    width: 80%;
    padding: 88px 0px 88px 0px;
  }
}

@media screen and (max-width: 1150px) {
  #content {
    width: 90%;
    padding: 88px 0px 88px 0px;
  }
}

@media screen and (max-width: 1025px) {
  #content {
    width: 100%;
    padding: 88px 0px 88px 0px;
    margin: 60px 0px 60px 0px;
  }
}